@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

$main-font: 'Quicksand', sans-serif;
$main-color: #464646;
$secondary-color: #4F4F4F;
$color: #FF6C5F;

@mixin flex-row{
    display:flex;
    justify-content: center;
    align-content: flex-start;
}

@mixin flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}