@import 'shared';
@import 'actividades.scss';
@import 'card.scss';
@import 'actividad.scss';
@import 'actividad-info.scss';
@import 'actividad-image.scss';
@import 'benefits.scss';
@import 'reglas.scss';

body{
    margin:0;
    @include flex-column;
}
#app{
    @include flex-column;
    width:80%;
    height:auto;
}
